<<<<<<< HEAD
body{

background-color: FFFF99;

}
h1 {
  background-color: black;
  border: 1px solid black;
  color:yellow;
=======
h1 {
  background-color: yellow;
  border: 1px solid #ccc;
>>>>>>> bf370fe85704558550f8a96770899d086fc49dd5
  padding: 0 1rem;
  margin: 4rem;
}

p {
  background-color: yellow;
  border: 1px solid #ccc;
  padding: 0 1rem;
  margin: 1rem;

}
tr
{
color: blue;
display= line-block
<<<<<<< HEAD
background-color: ;
=======
background-color: yellow;
>>>>>>> bf370fe85704558550f8a96770899d086fc49dd5
border: 1px solid black;
}
td
{
color: blue;
display= line-block
<<<<<<< HEAD
background-color: FFFFFF;
=======
background-color: yellow;
>>>>>>> bf370fe85704558550f8a96770899d086fc49dd5
border: 1px solid black;
}
th
{
color: blue;
display= line-block
<<<<<<< HEAD
background-color: FFFFFF;
=======
background-color: yellow;
>>>>>>> bf370fe85704558550f8a96770899d086fc49dd5
border: 1px solid black;
}